.location-item {
  display: flex;
  width: 50%;
  padding: 14px 16px;
  border: 2px solid gray;
  margin-top: 20px;
}

.location-item > .location--img {
  width: 150px;
  height: 190px;
}

.location-item > .location-details {
  padding: 8px 10px;
}

.details--place > .place--pin {
  display: flex;
  align-items: center;
  align-content: center;
}

.place--pin > img {
  width: 20px;
  height: 20px;
}

.place--pin > small > a {
  color: gray;
  text-decoration: underline;
  margin-left: 10px;
}

.place--pin > .country {
  letter-spacing: 1.5px;
}

.details--place > .details--date {
  font-weight: bold;
  font-size: 11px;
}

.details--place > .details--desc {
  font-size: 11px;
}
